@import "tailwindcss";

progress[value] {
    --color: black;
    --background: lightgrey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: var(--background);

    &::-webkit-progress-bar {
        background: var(--background);
    }

    &::-webkit-progress-value,
    &::-moz-progress-bar {
        background: var(--color);
    }
}